<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Je suis Login</h1>
    <% if (locals.message) { %>
        <p style="color: green;"><%= locals.message %> </p>
    <% } %> 
    <% if (locals.error) { %>
        <p style="color: red;"><%= locals.error %> </p>
    <% } %> 
    <form action="/login" method="post">
        <div>
            <input type="email" name="email" placeholder="Email">
        </div>
        <br>
        <div>
            <input type="password" name="password" placeholder="Mot de passe">
        </div>
        <br>
        <div class="button">
            <button type="submit">Se connecter</button>
        </div>
        <br>
    </form>
    <a href="/register">S'enregistrer</a>
</body>
</html>