<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profil</h1>
    <a href="/feed">Feed</a>
    <% if(locals.success) { %>
        <form action="/profilupdate" method="post">
            <ul style="list-style-type: none">
            <li><strong>Email : </strong><%=  locals.success.email %> </li>
            <br>
            <li><strong>Prénom : </strong><%=  locals.success.firstname %> </li>
            <input type="text" name="firstname" placeholder="Prénom">
            <br>
            <li><strong>Nom : </strong><%=  locals.success.lastname %> </li>
            <input type="text" name="lastname" placeholder="Nom">
            <br>
            <li><strong>Bio : </strong><%=  locals.success.bio %> </li>
            <input type="text" name="bio" placeholder="Bio">
            <br>
            <% if(locals.success.avatar != null) { %> 
                <img src="" alt="photo de profil"> 
                <% } %> 
                <% }; %>
            </ul>
                <div class="button">
                    <button type="submit">Modifier</button>
                </div>
                <br>
        </form>
        <form action="/delete" method="get">
            <div class="button">
                <button type="submit">Supprimer</button>
            </div>
        </form>
</body>
</html>